In [5]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [6]:
dataaset=pd.read_csv('Algerian_forest_fires_dataset.csv')

In [7]:
dataaset.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,5,6,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [10]:
dataaset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
dtypes: object(14)
memory usage: 27.1+ KB

In [8]:
dataaset[dataaset.isnull().any(axis=1)]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,Sidi-Bel Abbes Region Dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,14,7,2012,37,37,18,0.2,88.9,12.9,14.6 9,12.5,10.4,fire,NaN

In [9]:
dataaset.loc[:122,"Region"]=0
dataaset.loc[:122,"Region"]=1
dff=dataaset

In [10]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
 14  Region       123 non-null    float64
dtypes: float64(1), object(14)
memory usage: 29.1+ KB

In [11]:
dff['Region'] = dff['Region'].fillna(0).astype(int)

In [12]:
dff.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,1
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,1
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,1
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,1
4,5,6,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,1

In [13]:
## remove of null values
dff.dropna().reset_index(drop=True)

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,1
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,1
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,1
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,1
4,5,6,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,26,9,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire,0
240,27,9,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire,0
241,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,0
242,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,0
243,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,0

In [14]:
print(dff['Region'].isnull().sum())  # Shows how many NaNs
print(dff['Region'].unique())        # Shows unique values, look for NaN or inf

0
[1 0]

In [15]:
dff[['Region']]=dff[['Region']].astype(int)
dff.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,1
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,1
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,1
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,1
4,5,6,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,1

In [20]:
dff.isnull().sum()

day              1
month            2
year             2
Temperature      2
 RH              2
 Ws              2
Rain             2
FFMC             2
DMC              2
DC               2
ISI              2
BUI              2
FWI              2
Classes          3
Region         124
dtype: int64

In [19]:
dff.columns=dff.columns.str.strip()
dff.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes', 'Region'],
      dtype='object')

In [59]:
dff.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,1
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,1
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,1
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,1
4,5,6,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,1

In [21]:
#now we convert the object type into int type
dff.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes', 'Region'],
      dtype='object')

In [27]:
print(dff[['month','year','Temperature', 'RH','Ws']].head(10))

  month  year Temperature  RH  Ws
0     6  2012          29  57  18
1     6  2012          29  61  13
2     6  2012          26  82  22
3     6  2012          25  89  13
4     6  2012          27  77  16
5     6  2012          31  67  14
6     6  2012          33  54  13
7     6  2012          30  73  15
8     6  2012          25  88  13
9     6  2012          28  79  12

In [28]:
print(dff[['month','year','Temperature', 'RH','Ws']].dtypes)

month          object
year           object
Temperature    object
RH             object
Ws             object
dtype: object

In [29]:
cols = ['month', 'year', 'Temperature', 'RH', 'Ws']
for col in cols:
    dff[col] = pd.to_numeric(dff[col], errors='coerce')

In [30]:
dff[cols] = dff[cols].fillna(0).astype(int)

In [31]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        247 non-null    int32
 2   year         247 non-null    int32
 3   Temperature  247 non-null    int32
 4   RH           247 non-null    int32
 5   Ws           247 non-null    int32
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
 14  Region       247 non-null    int32
dtypes: int32(6), object(9)
memory usage: 23.3+ KB

In [54]:
dff.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,1
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,1
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,1
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,1
4,5,6,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,1

In [ ]:
# so we convert the remaining object type attributes into floating values
objects=[features for features in dff.columns if dff[features].dtypes=='0']
print(objects)

[]

In [57]:
for i in objects:
    if i!= 'Classes':
        dff[i]=dff[i].astype(float)

In [58]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        247 non-null    int32
 2   year         247 non-null    int32
 3   Temperature  247 non-null    int32
 4   RH           247 non-null    int32
 5   Ws           247 non-null    int32
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
 14  Region       247 non-null    int32
dtypes: int32(6), object(9)
memory usage: 23.3+ KB

In [60]:
dff.to_csv('Algerian_forest_fires_cleaned_dataset.csv',index=False)

In [63]:
#exploratory data analysis
dff_copy=dff.drop(['day' ,'month' , 'year'], axis=1) # drop these becuse date don't play imp role

In [64]:
dff_copy.head()

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,1
1,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,1
2,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,1
3,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,1
4,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,1

In [ ]:
dff_copy['Classes'].value_counts() #encoding of the categories of classes

Classes
fire             131
not fire         101
fire               4
fire               2
not fire           2
not fire           1
Classes            1
not fire           1
not fire           1
Name: count, dtype: int64

In [66]:
dff_copy['Classes']=np.where(dff_copy['Classes'].str.contains('not fire'),0,1)

In [67]:
dff_copy.head()

   Temperature  RH  Ws  Rain  FFMC  DMC    DC  ISI  BUI  FWI  Classes  Region
0           29  57  18     0  65.7  3.4   7.6  1.3  3.4  0.5        0       1
1           29  61  13   1.3  64.4  4.1   7.6    1  3.9  0.4        0       1
2           26  82  22  13.1  47.1  2.5   7.1  0.3  2.7  0.1        0       1
3           25  89  13   2.5  28.6  1.3   6.9    0  1.7    0        0       1
4           27  77  16     0  64.8    3  14.2  1.2  3.9  0.5        0       1

In [68]:
dff_copy.tail()

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
242,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,1,0
243,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,0,0
244,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,0,0
245,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,0,0
246,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,0,0

In [70]:
percentage=dff_copy['Classes'].value_counts(normalize=True)*100

In [ ]:
classlabels=['Fire',"Not Fire"]
plt.figure(figsize=(12,7))
plt.pie=(percentage,labels=classlabels,autopct=='%1.1f%%')
plt.show()

NameError: name 'labels' is not defined

In [78]:
# Option 1: Use numeric_only=True (Pandas >= 1.5.0)
dff_copy.corr(numeric_only=True)

# Option 2: Manually select only numeric columns
dff_copy.select_dtypes(include='number').corr()

             Temperature        RH        Ws   Classes    Region
Temperature     1.000000 -0.133268  0.193917  0.394948 -0.168841
RH             -0.133268  1.000000  0.400460 -0.358661  0.382294
Ws              0.193917  0.400460  1.000000 -0.036419  0.169087
Classes         0.394948 -0.358661 -0.036419  1.000000 -0.158517
Region         -0.168841  0.382294  0.169087 -0.158517  1.000000